body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 244, 244);
    font-size: 50px;
    position: relative;

}

h1 {
    font-family: cursive;
    color: purple;
}

wrong guesses {
    font-family: cursive;
    color: blue;
}